* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	margin: 0;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #7a419b;
	font-family: 'Roboto Condensed', sans-serif;
	color: aliceblue;
}

.player {
	max-width: 750px;
	width: 100%;
	border: 5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.player__video {
	width: 100%;
}

.player__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	position: absolute;
	bottom: 5px;
}

.progress {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	height: 10px;
	cursor: pointer;
	margin: 5px 0;
	transition: height 0.3s;
	background: rgba(0, 0, 0, 0.5);
}

.progress__bar {
	width: 0%;
	background: #ffc600;
	position: absolute;
	height: 10px;
}

.player__buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player__button {
	background: none;
	border: 0;
	line-height: 1;
	color: white;
	padding: 0;
	cursor: pointer;
	max-width: 50px;
	margin: 5px;
	display: flex;
	align-items: center;
}

.player__ranges {
	display: flex;
	max-width: 550px;
}

.player__range {
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	height: 30px;
	margin: 0 5px;
	width: 100%;
}

.player__range:focus {
	outline: none;
}

.player__range::-webkit-slider-runnable-track {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 1.3px;
	border: 0.2px solid rgba(1, 1, 1, 0);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
	height: 8.4px;
	width: 100%;
}

.player__range:focus::-webkit-slider-runnable-track {
	background: #bada55;
}

.player__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #ffc600;
	border-radius: 50px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	margin-top: -3.5px;
	height: 15px;
	width: 15px;
}

.player__range::-moz-range-track {
	background: #ffffff;
	border: 0.2px solid rgba(1, 1, 1, 0);
	border-radius: 1.3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
	cursor: pointer;
	height: 8.4px;
	width: 100%;
}

.player__range::-moz-range-thumb {
	background: #ffc600;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	border-radius: 50px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.volume__bar {
	opacity: 0;
}

.player__speaker {
	cursor: pointer;
	margin: 5px;
}

.player__speaker:hover .volume__bar {
	opacity: 1;
	transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.player__ranges__playback-rate {
	margin: 5px;
}

.player__fullscreen {
	cursor: pointer;
}

.hide-button {
	opacity: 0;
	transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.pause {
	margin-left: -20px;
}
